* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "partial";

header {
  background-color: $midnight-green;
  height: 520px;
  overflow: hidden;
  @include tablet {
    height: 556px;
  }
  @include desktop {
    height: 517px;
    overflow: hidden;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  width: 90vw;
  margin: 0 auto;
  @include desktop {
    width: 1100px;
  }
}

.navbar__logo {
  cursor: pointer;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  @include tablet {
    margin-right: 8rem;
    width: 25vw;
    font-size: 18px;
  }
  @include desktop {
    width: 35vw;
  }
}

.navbar ul {
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-item {
  text-decoration: none;
  display: block;
  margin-right: 0.5rem;
  padding: 0.8rem;
  font-size: 15px;
  font-weight: bold;
  @include tablet {
    color: $whitebaby;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
  }
}

.navbar-item:hover {
  color: $light-coral;
  transition: 1s;
}

.navbar--btn {
  font-weight: bold;
  color: white;
  width: 173px;
  padding: 1.3rem;
  border-radius: 50px;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: transparent;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
}

.navbar--btn:hover {
  background-color: white;
  color: $midnight-green;
  transition: 1s;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
  z-index: 100;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: $whitebaby;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: $whitebaby;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: $whitebaby;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .toggle-button .top {
  transform: rotate(-50deg);
  width: 1.56rem;
  transform-origin: right;
  top: -10px;
  background-color: white;
}

input[type="checkbox"]:checked ~ .toggle-button .bottom {
  transform: rotate(50deg);
  width: 1.56rem;
  transform-origin: right;
  top: 10px;
  background-color: white;
}

input[type="checkbox"]:checked ~ .toggle-button .middle {
  transform: translateX(-20px);
  opacity: 0;
}

.navbar--btn-mobilemenu {
  display: none;
}

.hero__container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   overflow: hidden;
  position: relative;
  height: auto;
  @include desktop {
    flex-direction: row;
    overflow: unset;
    width: 980px;
    margin-left: 9rem;
    justify-content: space-between;
  }

  &--span {
    color: $light-coral;
  }
  &--title {
    font-family: "Livvic", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    width: 240px;
    color: $whitebaby;
    @include tablet {
      font-size: 4rem;
    }
  }
  &--description {
    margin-top: 1rem;
    width: 345px;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    color: $whitebaby;
    line-height: 28px;
    text-align: center;
    @include tablet {
      width: 480px;
    }
    @include desktop {
      text-align: left;
      width: 615px;
    }
  }

  &--svg {
    position: absolute;
    right: -100px;
    bottom: -205px;
    @include tablet {
      bottom: -125px;
    }
    @include desktop {
      right: -415px;
      bottom: -195px;
    }
  }

  &--divider {
    display: none;
    @include desktop {
      display: block;
      width: 50px;
      height: 4px;
      position: relative;
      bottom: 5rem;
      left: 5.5rem;
      background-color: $light-coral;
      border: none;
    }
  }
}

.ready__container {
  height: 302px;
  background-color: $light-coral;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  @include desktop {
    height: 200px;
  }
  &--title {
    margin-top: 2rem;
    font-family: "Livvic", sans-serif;
    font-weight: bold;
    color: $deep-jungle-green;
    text-align: center;
    margin-top: 3rem;
    width: 330px;
    font-size: 32px;
    @include tablet {
      width: 336px;
    }
    @include desktop {
      width: 562px;
      font-size: 3rem;
    }
  }
  &--btn {
    margin-top: 1rem;
    background-color: transparent;
    width: 153px;
    height: 48px;
    border-radius: 50px;
    border-color: black;
  }
  &--a {
    text-decoration: none;
    color: $deep-jungle-green;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-size: 18px;
  }

  &--svg {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  &--textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      align-items: baseline;

      justify-content: space-between;
      width: 600px;
      margin-top: 5rem;
    }
    @include desktop {
      width: 1060px;
      margin-top: unset;
      height: 10px;
    }
  }
}

.footer__container {
  background-color: $dark-green;
  height: 432px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @include desktop {
    height: 25vh;
    padding-bottom: 5rem;
  }

  &--logo {
    @include tablet {
      position: relative;
      right: 15rem;
      top: 2.5rem;
    }
    @include desktop {
      right: 26.5rem;
      top: 4.5rem;
    }
  }

  &--ul {
    display: flex;
    justify-content: space-evenly;
    width: 107px;
    @include tablet {
      position: relative;
      top: 10rem;
      right: 15rem;
    }
    @include desktop {
      width: 220px;
      right: 27rem;
      top: 7rem;
    }
  }

  &--li {
    list-style: none;
  }

  &--a {
    text-decoration: none;
    color: $whitebaby;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-size: 15px;
    @include desktop {
      font-size: 18px;
    }
  }

  &--addressBox {
    width: 327px;
    @include desktop {
      right: 12rem;
      top: 4.5rem;
      position: relative;
    }
  }

  &--p {
    text-align: center;
    color: hsl(0, 0%, 60%);
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    line-height: 25px;
    @include tablet {
      text-align: right;
      position: relative;
      left: 12rem;
      bottom: 4rem;
      line-height: 3.5rem;
    }
    @include desktop {
      line-height: unset;
      text-align: left;
      line-height: 25px;
    }
  }

  &--icons {
    display: flex;
    width: 140px;
    justify-content: space-around;
    align-items: center;
    @include tablet {
      position: relative;
      right: 15rem;
    }
    @include desktop {
      left: 36rem;
      bottom: 5.5rem;
    }
  }
  &--icon {
    cursor: pointer;
  }
}

.footer__container--a:hover {
  color: $light-coral;
  transition: 1s;
}

.footer__container--icon path:hover {
  fill: $light-coral;
  transition: 1s;
}

#copyright {
  @include tablet {
    position: relative;
    left: 14rem;
  }
  @include desktop {
    left: 31.5rem;
    bottom: 2rem;
  }
}

.directors__container {
  padding-top: 2rem;
  background-color: #004047;
  background-image: url("../assets/bg-pattern-about-2-contact-1.svg");
  background-repeat: no-repeat;
  background-position: -100px -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include desktop {
    height: 1002px;
    background-position: -62px 0px;
  }

  &--title {
    font-family: "Livvic", sans-serif;
    font-weight: bold;
    color: $whitebaby;
    font-size: 2rem;
    margin-top: 5rem;
  }
  &--bottomSvg {
    background-image: url("../assets/bg-pattern-home-4-about-3.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    background-position: right;
    @include desktop {
      background-position: 81rem 9.25rem;
      height: 25%;
    }
  }

  &--cardBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    @include desktop {
      width: 75vw;
    }
  }
}

.director__card {
  position: relative;
  width: 327px;
  height: 253px;
  margin-top: 3rem;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  transform-style: preserve-3d;
  transition: 1.5s;
  @include tablet {
    margin-right: 2rem;
  }

  &--frontside {
    position: absolute;
    background-color: $sacramento-state-green;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  &--avatar {
    width: 96px;
    height: 96px;
    border-radius: 50px;
    border-style: solid;
    border-color: $rapture-blue;
  }

  &--title {
    font-family: "Livvic", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: $rapture-blue;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  &--role {
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
    color: $whitebaby;
    margin-bottom: 0.5rem;
  }

  &--iconBox {
    width: 56px;
    height: 56px;
    background-color: $light-coral;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    transform: translateY(80%) rotate(0);
    z-index: 1;
    // backface-visibility: hidden;
  }

  &--backside {
    position: absolute;
    background-color: $dark-green;
    width: 100%;
    height: 226px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
  }
  &--backTitle {
    font-family: "Livvic", sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    color: $rapture-blue;
  }
  &--backQuote {
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    color: $whitebaby;
    font-size: 15px;
    width: 224px;
    text-align: center;
  }
  &--backIcons {
    width: 60px;
    display: flex;
    justify-content: space-between;
  }
  &--backIcon {
    object-fit: contain;
    cursor: pointer;
  }

  &--iconBox:hover {
    background-color: $rapture-blue;
  }
}

.director__card--icon {
  width: 20px;
}

.rotate {
  transform: rotate(45deg);
}

.flipped {
  --rotate-y: 180deg;
}

.switched {
  background-color: $rapture-blue;
}

.switched:hover {
  background-color: $light-coral;
}

.clients__container {
  background-color: $dark-green;
  height: 632px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;
  @include tablet {
    height: 308px;
  }
  @include desktop {
    height: 437px;
    justify-content: space-evenly;
  }

  &--title {
    font-family: "Livvic", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: $whitebaby;
    margin-top: 5rem;
    @include tablet {
      margin-top: 5rem;
    }
    @include desktop {
      font-size: 3rem;
      margin-top: 8.5rem;
    }
  }
  &--imgBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    @include tablet {
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
    }
  }
  &--img {
    object-fit: contain;
    width: 160px;
    height: 60px;
    @include tablet {
      width: 120px;
      height: 130px;
    }
    @include desktop {
      width: 165px;
    }
  }
}

.clients-svg {
  position: absolute;
  top: -100px;
  left: -100px;
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .mobile--divider {
    display: flex;
    position: relative;
    top: 80px;
    width: 249px;
    height: 1px;
    margin: 0 auto;
  }

  .navbar--btn-mobilemenu {
    display: block;

    font-weight: bold;
    color: white;
    width: 173px;
    padding: 1.3rem;
    border-radius: 30px;
    margin: 0 auto;
    border: none;

    cursor: pointer;
  }

  .navbar-links {
    flex-direction: column;
    height: auto;
    margin: 2rem auto;
    text-align: center;
    display: none;
  }

  .navbar-links.active {
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 0px;
    right: 0vw;
    padding-bottom: 2rem;
    font-size: 2rem;
    height: 650px;
    width: 300px;
    background-color: #1b262f;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    margin-top: 7rem;
    margin-bottom: 2rem;
  }

  .navbar-item {
    color: hsl(0, 0%, 70%);
    font-size: 20px;
  }

  .navbar--btn {
    display: none;
  }
}
