* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #014e56;
  height: 520px;
  overflow: hidden;
}

@media (min-width: 768px) {
  header {
    height: 556px;
  }
}

@media (min-width: 1440px) {
  header {
    height: 517px;
    overflow: hidden;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  width: 90vw;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .navbar {
    width: 1100px;
  }
}

.navbar__logo {
  cursor: pointer;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .navbar-links {
    margin-right: 8rem;
    width: 25vw;
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .navbar-links {
    width: 35vw;
  }
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-item {
  text-decoration: none;
  display: block;
  margin-right: 0.5rem;
  padding: 0.8rem;
  font-size: 15px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar-item {
    color: white;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
  }
}

.navbar-item:hover {
  color: #f67e7e;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar--btn {
  font-weight: bold;
  color: white;
  width: 173px;
  padding: 1.3rem;
  border-radius: 50px;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: transparent;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
}

.navbar--btn:hover {
  background-color: white;
  color: #014e56;
  -webkit-transition: 1s;
  transition: 1s;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
  z-index: 100;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: white;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: white;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: white;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .toggle-button .top {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: -10px;
  background-color: white;
}

input[type="checkbox"]:checked ~ .toggle-button .bottom {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: 10px;
  background-color: white;
}

input[type="checkbox"]:checked ~ .toggle-button .middle {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

.navbar--btn-mobilemenu {
  display: none;
}

.mobile-nav-svg {
  display: none;
}

.hero__container {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: auto;
}

@media (min-width: 1440px) {
  .hero__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: unset;
    width: 980px;
    margin-left: 9rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero__container--span {
  color: #f67e7e;
}

.hero__container--title {
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  width: 240px;
  color: white;
}

@media (min-width: 768px) {
  .hero__container--title {
    font-size: 4rem;
  }
}

.hero__container--description {
  margin-top: 1rem;
  width: 345px;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  color: white;
  line-height: 28px;
  text-align: center;
}

@media (min-width: 768px) {
  .hero__container--description {
    width: 480px;
  }
}

@media (min-width: 1440px) {
  .hero__container--description {
    text-align: left;
    width: 615px;
  }
}

.hero__container--svg {
  position: absolute;
  right: -100px;
  bottom: -205px;
}

@media (min-width: 768px) {
  .hero__container--svg {
    bottom: -125px;
  }
}

@media (min-width: 1440px) {
  .hero__container--svg {
    right: -415px;
    bottom: -195px;
  }
}

.hero__container--divider {
  display: none;
}

@media (min-width: 1440px) {
  .hero__container--divider {
    display: block;
    width: 50px;
    height: 4px;
    position: relative;
    bottom: 5rem;
    left: 5.5rem;
    background-color: #f67e7e;
    border: none;
  }
}

.ready__container {
  height: 302px;
  background-color: #f67e7e;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

@media (min-width: 1440px) {
  .ready__container {
    height: 200px;
  }
}

.ready__container--title {
  margin-top: 2rem;
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  color: #004047;
  text-align: center;
  margin-top: 3rem;
  width: 330px;
  font-size: 32px;
}

@media (min-width: 768px) {
  .ready__container--title {
    width: 336px;
  }
}

@media (min-width: 1440px) {
  .ready__container--title {
    width: 562px;
    font-size: 3rem;
  }
}

.ready__container--btn {
  margin-top: 1rem;
  background-color: transparent;
  width: 153px;
  height: 48px;
  border-radius: 50px;
  border-color: black;
}

.ready__container--a {
  text-decoration: none;
  color: #004047;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.ready__container--svg {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.ready__container--textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .ready__container--textBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 600px;
    margin-top: 5rem;
  }
}

@media (min-width: 1440px) {
  .ready__container--textBox {
    width: 1060px;
    margin-top: unset;
    height: 10px;
  }
}

.footer__container {
  background-color: #002529;
  height: 432px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1440px) {
  .footer__container {
    height: 25vh;
    padding-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  .footer__container--logo {
    position: relative;
    right: 15rem;
    top: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .footer__container--logo {
    right: 26.5rem;
    top: 4.5rem;
  }
}

.footer__container--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 107px;
}

@media (min-width: 768px) {
  .footer__container--ul {
    position: relative;
    top: 10rem;
    right: 15rem;
  }
}

@media (min-width: 1440px) {
  .footer__container--ul {
    width: 220px;
    right: 27rem;
    top: 7rem;
  }
}

.footer__container--li {
  list-style: none;
}

.footer__container--a {
  text-decoration: none;
  color: white;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

@media (min-width: 1440px) {
  .footer__container--a {
    font-size: 18px;
  }
}

.footer__container--addressBox {
  width: 327px;
}

@media (min-width: 1440px) {
  .footer__container--addressBox {
    right: 12rem;
    top: 4.5rem;
    position: relative;
  }
}

.footer__container--p {
  text-align: center;
  color: #999999;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  line-height: 25px;
}

@media (min-width: 768px) {
  .footer__container--p {
    text-align: right;
    position: relative;
    left: 12rem;
    bottom: 4rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 1440px) {
  .footer__container--p {
    line-height: unset;
    text-align: left;
    line-height: 25px;
  }
}

.footer__container--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer__container--icons {
    position: relative;
    right: 15rem;
  }
}

@media (min-width: 1440px) {
  .footer__container--icons {
    left: 36rem;
    bottom: 5.5rem;
  }
}

.footer__container--icon {
  cursor: pointer;
}

.footer__container--a:hover {
  color: #f67e7e;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer__container--icon path:hover {
  fill: #f67e7e;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 768px) {
  #copyright {
    position: relative;
    left: 14rem;
  }
}

@media (min-width: 1440px) {
  #copyright {
    left: 31.5rem;
    bottom: 2rem;
  }
}

.directors__container {
  padding-top: 2rem;
  background-color: #004047;
  background-image: url("../assets/bg-pattern-about-2-contact-1.svg");
  background-repeat: no-repeat;
  background-position: -100px -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1440px) {
  .directors__container {
    height: 1002px;
    background-position: -62px 0px;
  }
}

.directors__container--title {
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 2rem;
  margin-top: 5rem;
}

.directors__container--bottomSvg {
  background-image: url("../assets/bg-pattern-home-4-about-3.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-position: right;
}

@media (min-width: 1440px) {
  .directors__container--bottomSvg {
    background-position: 81rem 9.25rem;
    height: 25%;
  }
}

.directors__container--cardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

@media (min-width: 1440px) {
  .directors__container--cardBox {
    width: 75vw;
  }
}

.director__card {
  position: relative;
  width: 327px;
  height: 253px;
  margin-top: 3rem;
  -webkit-transform: perspective(1000px) rotateY(var(--rotate-y, 0));
          transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

@media (min-width: 768px) {
  .director__card {
    margin-right: 2rem;
  }
}

.director__card--frontside {
  position: absolute;
  background-color: #012f34;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.director__card--avatar {
  width: 96px;
  height: 96px;
  border-radius: 50px;
  border-style: solid;
  border-color: #79c8c7;
}

.director__card--title {
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #79c8c7;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.director__card--role {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 15px;
  color: white;
  margin-bottom: 0.5rem;
}

.director__card--iconBox {
  width: 56px;
  height: 56px;
  background-color: #f67e7e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transform: translateY(80%) rotate(0);
          transform: translateY(80%) rotate(0);
  z-index: 1;
}

.director__card--backside {
  position: absolute;
  background-color: #002529;
  width: 100%;
  height: 226px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.director__card--backTitle {
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: #79c8c7;
}

.director__card--backQuote {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 15px;
  width: 224px;
  text-align: center;
}

.director__card--backIcons {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.director__card--backIcon {
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.director__card--iconBox:hover {
  background-color: #79c8c7;
}

.director__card--icon {
  width: 20px;
}

.rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.flipped {
  --rotate-y: 180deg;
}

.switched {
  background-color: #79c8c7;
}

.switched:hover {
  background-color: #f67e7e;
}

.clients__container {
  background-color: #002529;
  height: 632px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .clients__container {
    height: 308px;
  }
}

@media (min-width: 1440px) {
  .clients__container {
    height: 437px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.clients__container--title {
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .clients__container--title {
    margin-top: 5rem;
  }
}

@media (min-width: 1440px) {
  .clients__container--title {
    font-size: 3rem;
    margin-top: 8.5rem;
  }
}

.clients__container--imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 400px;
}

@media (min-width: 768px) {
  .clients__container--imgBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.clients__container--img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 160px;
  height: 60px;
}

@media (min-width: 768px) {
  .clients__container--img {
    width: 120px;
    height: 130px;
  }
}

@media (min-width: 1440px) {
  .clients__container--img {
    width: 165px;
  }
}

.clients-svg {
  position: absolute;
  top: -100px;
  left: -100px;
}

@media (max-width: 768px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-nav-svg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 135px;
  }
  .navbar--btn-mobilemenu {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: white;
    width: 173px;
    padding: 1.3rem;
    border-radius: 50px;
    margin: 0 auto;
    border: 2px solid white;
    cursor: pointer;
    text-decoration: none;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
  }
  .navbar-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    text-align: center;
    display: none;
  }
  .navbar-links.active {
    z-index: 1;
    display: block;
    position: absolute;
    top: 0px;
    right: 0vw;
    padding-bottom: 2rem;
    font-size: 2rem;
    height: 520px;
    width: 235px;
    background-color: #2c6269;
  }
  .navbar-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 6rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
  }
  .navbar-item {
    color: white;
    font-size: 18px;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
  }
  .navbar--btn {
    display: none;
  }
}
/*# sourceMappingURL=about.css.map */