* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "partial";

header {
  background-color: $midnight-green;
  @include desktop {
    height: 700px;
    overflow: hidden;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  width: 90vw;
  margin: 0 auto;
  @include desktop {
    width: 1100px;
  }
}

.navbar__logo {
  cursor: pointer;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  @include tablet {
    margin-right: 8rem;
    width: 25vw;
    font-size: 18px;
  }
  @include desktop {
    width: 35vw;
  }
}

.navbar ul {
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-item {
  text-decoration: none;
  display: block;
  margin-right: 0.5rem;
  padding: 0.8rem;
  font-size: 15px;
  font-weight: bold;
  @include tablet {
    color: $whitebaby;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
  }
}

.navbar-item:hover {
  color: $light-coral;
  transition: 1s;
}

.navbar--btn {
  font-weight: bold;
  color: white;
  width: 173px;
  padding: 1.3rem;
  border-radius: 50px;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: transparent;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
}

.navbar--btn:hover {
  background-color: white;
  color: $midnight-green;
  transition: 1s;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
  z-index: 100;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: $whitebaby;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: $whitebaby;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: $whitebaby;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .toggle-button .top {
  transform: rotate(-50deg);
  width: 1.56rem;
  transform-origin: right;
  top: -10px;
  background-color: white;
}

input[type="checkbox"]:checked ~ .toggle-button .bottom {
  transform: rotate(50deg);
  width: 1.56rem;
  transform-origin: right;
  top: 10px;
  background-color: white;
}

input[type="checkbox"]:checked ~ .toggle-button .middle {
  transform: translateX(-20px);
  opacity: 0;
}

.navbar--btn-mobilemenu {
  display: none;
}

.mobile-nav-svg {
  display: none;
}

.hero__container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include desktop {
    flex-direction: row;
    align-items: baseline;
    width: fit-content;
    background-image: url("../assets/bg-pattern-home-1.svg");
    background-repeat: no-repeat;
    background-position: -100px 10px;
    padding-left: 10rem;
  }

  &--span {
    color: $light-coral;
  }
  &--title {
    font-family: "Livvic", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    width: 240px;
    color: $whitebaby;
    @include tablet {
      font-size: 4rem;
      width: 395px;
    }
    @include desktop {
      font-size: 6.25rem;
      width: 600px;
      text-align: left;
    }
  }
  &--description {
    margin-top: 1rem;
    margin-bottom: 6rem;
    width: 345px;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    color: $whitebaby;
    line-height: 28px;
    text-align: center;
    @include tablet {
      width: 500px;
    }
    @include desktop {
      width: 440px;
      text-align: left;
      line-height: 28px;
      font-size: 18px;
      position: relative;
      left: 2rem;
      top: 40px;
    }
  }

  &--svg {
    @include desktop {
      position: relative;
      top: 26rem;
      right: 18rem;
    }
  }

  &--divider {
    display: none;
    @include desktop {
      display: block;
      width: 50px;
      height: 4px;
      position: relative;
      bottom: 5rem;
      left: 5.1rem;
      background-color: #79c8c7;
      border: none;
    }
  }
}

.information__container {
  background-color: $dark-green;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 684px;
    overflow: hidden;
  }
}

.build__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  @include tablet {
    justify-content: center;
    position: relative;
    right: 100px;
  }
  @include desktop {
    overflow: unset;
    justify-content: unset;
    align-items: unset;
  }
  &--divider {
    width: 50px;
    height: 4px;
    background-color: $light-coral;
    border: unset;
    position: relative;
    left: 15px;
    margin-top: 2rem;
    @include tablet {
      left: 99px;
      margin-top: 7rem;
    }
    @include desktop {
      margin-top: unset;
      position: relative;
      bottom: 3rem;
    }
  }
  &--title {
    font-family: "Livvic", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: $whitebaby;
    width: 60vw;
    height: fit-content;
    margin-top: 3rem;
    position: relative;
    right: 32px;
    @include tablet {
      width: 445px;
      margin-top: 9rem;
      margin-left: 5rem;
    }
    @include desktop {
      font-size: 3rem;
      margin-top: unset;
    }
  }
}

.build--svg {
  position: absolute;
  right: -105px;
  @include desktop {
    bottom: 0px;
  }
}

.about__container {
  margin-top: 5rem;
  padding-bottom: 2rem;
  @include desktop {
    margin-top: 10rem;
    position: relative;
    right: 5rem;
  }
}
.detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  @include tablet {
    width: 650px;
    margin: 0 auto;
    margin-bottom: 3rem;
    flex-direction: row;
    justify-content: space-evenly;
  }
  &--title {
    font-family: "Livvic", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: $light-coral;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  &--description {
    width: 330px;
    text-align: center;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: hsl(0, 0%, 80%);
    @include tablet {
      text-align: unset;
      width: 478px;
    }
  }

  &--textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      align-items: unset;
    }
  }
}

.quotes__container {
  padding-bottom: 5rem;
  @include desktop {
    display: flex;
    justify-content: space-evenly;
  }
}

.success__container {
  background-color: $midnight-green;
  overflow: hidden;
  position: relative;
  &--svg {
    margin-bottom: 3rem;
    @include tablet {
      margin-bottom: unset;
    }
  }
  &--svg2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  &--title {
    margin: 0 auto;
    font-family: "Livvic", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-align: center;
    width: 315px;
    @include tablet {
      width: 490px;
    }
    @include desktop {
      font-size: 48px;
      width: 932px;
    }
  }
  &--span {
    color: $rapture-blue;
  }
}

.quote__container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &--svg {
    margin-top: 1rem;
    width: 62px;
    height: 62px;
    border-radius: 50px;
    border-style: solid;
    border-color: $rapture-blue;
    cursor: pointer;
    @include tablet {
      width: 70px;
      height: 70px;
    }
  }
  &--title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: "Livvic", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: $rapture-blue;
    @include tablet {
      margin-top: unset;
    }
  }
  &--description {
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: $whitebaby;
    text-align: center;
    width: 325px;
    position: relative;
    bottom: 20px;
    @include tablet {
      width: 570px;
    }
    @include desktop {
      width: 350px;
    }
  }
  &--position {
    font-family: "Livvic", sans-serif;
    font-style: italic;
    color: $whitebaby;
    font-size: 13px;
  }
}

.quote__container--svg:hover {
  transform: rotate(360deg);
  transition: 2s;
}

.ready__container {
  height: 302px;
  background-color: $light-coral;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  @include desktop {
    height: 200px;
  }
  &--title {
    margin-top: 2rem;
    font-family: "Livvic", sans-serif;
    font-weight: bold;
    color: $deep-jungle-green;
    text-align: center;
    margin-top: 3rem;
    width: 330px;
    font-size: 32px;
    @include tablet {
      width: 336px;
    }
    @include desktop {
      width: 562px;
      font-size: 3rem;
    }
  }
  &--btn {
    margin-top: 1rem;
    background-color: transparent;
    width: 153px;
    height: 48px;
    border-radius: 50px;
    border-color: black;
  }
  &--a {
    text-decoration: none;
    color: $deep-jungle-green;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-size: 18px;
  }
  &--svg {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  &--textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      align-items: baseline;

      justify-content: space-between;
      width: 600px;
      margin-top: 5rem;
    }
    @include desktop {
      width: 1060px;
      margin-top: unset;
      height: 10px;
    }
  }
}

.footer__container {
  background-color: $dark-green;
  height: 432px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @include desktop {
    height: 25vh;
    padding-bottom: 5rem;
  }

  &--logo {
    @include tablet {
      position: relative;
      right: 15rem;
      top: 2.5rem;
    }
    @include desktop {
      right: 26.5rem;
      top: 4.5rem;
    }
  }

  &--ul {
    display: flex;
    justify-content: space-evenly;
    width: 107px;
    @include tablet {
      position: relative;
      top: 10rem;
      right: 15rem;
    }
    @include desktop {
      width: 220px;
      right: 27rem;
      top: 7rem;
    }
  }

  &--li {
    list-style: none;
  }

  &--a {
    text-decoration: none;
    color: $whitebaby;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-size: 15px;
    @include desktop {
      font-size: 18px;
    }
  }

  &--addressBox {
    width: 327px;
    @include desktop {
      right: 12rem;
      top: 4.5rem;
      position: relative;
    }
  }

  &--p {
    text-align: center;
    color: hsl(0, 0%, 60%);
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    line-height: 25px;
    @include tablet {
      text-align: right;
      position: relative;
      left: 12rem;
      bottom: 4rem;
      line-height: 3.5rem;
    }
    @include desktop {
      line-height: unset;
      text-align: left;
      line-height: 25px;
    }
  }

  &--icons {
    display: flex;
    width: 140px;
    justify-content: space-around;
    align-items: center;
    @include tablet {
      position: relative;
      right: 15rem;
    }
    @include desktop {
      left: 36rem;
      bottom: 5.5rem;
    }
  }
  &--icon {
    cursor: pointer;
  }
}

.footer__container--a:hover {
  color: $light-coral;
  transition: 1s;
}

.footer__container--icon path:hover {
  fill: $light-coral;
  transition: 1s;
}

#copyright {
  @include tablet {
    position: relative;
    left: 14rem;
  }
  @include desktop {
    left: 31.5rem;
    bottom: 2rem;
  }
}

.phone-number {
  text-decoration: none;
  color: red;
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .mobile-nav-svg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 135px;
  }

  .navbar--btn-mobilemenu {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: white;
    width: 173px;
    padding: 1.3rem;
    border-radius: 50px;
    margin: 0 auto;
    border: 2px solid white;
    cursor: pointer;
    text-decoration: none;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
  }

  .navbar-links {
    flex-direction: column;
    height: auto;
    text-align: center;
    display: none;
  }

  .navbar-links.active {
    overflow: hidden;
    transition: ease-in-out 5s linear;
    z-index: 1;
    display: block;
    position: absolute;
    top: 0px;
    right: 0vw;
    padding-bottom: 2rem;
    font-size: 2rem;
    height: 583px;
    width: 235px;
    background-color: #2c6269;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 6rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
  }

  .navbar-item {
    color: $whitebaby;
    font-size: 18px;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
  }

  .navbar--btn {
    display: none;
  }
}
