* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #014e56;
}

@media (min-width: 1440px) {
  header {
    height: 700px;
    overflow: hidden;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  width: 90vw;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .navbar {
    width: 1100px;
  }
}

.navbar__logo {
  cursor: pointer;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .navbar-links {
    margin-right: 8rem;
    width: 25vw;
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .navbar-links {
    width: 35vw;
  }
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-item {
  text-decoration: none;
  display: block;
  margin-right: 0.5rem;
  padding: 0.8rem;
  font-size: 15px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar-item {
    color: white;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
  }
}

.navbar--btn {
  font-weight: bold;
  color: white;
  width: 173px;
  padding: 1.3rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: transparent;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  border: 2px solid white;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
  z-index: 100;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: white;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: white;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: white;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .toggle-button .top {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: -10px;
  background-color: white;
}

input[type="checkbox"]:checked ~ .toggle-button .bottom {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: 10px;
  background-color: white;
}

input[type="checkbox"]:checked ~ .toggle-button .middle {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

.navbar--btn-mobilemenu {
  display: none;
}

.hero__container {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1440px) {
  .hero__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
    margin-left: 8rem;
  }
}

.hero__container--span {
  color: #f67e7e;
}

.hero__container--title {
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  width: 240px;
  color: white;
}

@media (min-width: 768px) {
  .hero__container--title {
    font-size: 4rem;
    width: 395px;
  }
}

@media (min-width: 1440px) {
  .hero__container--title {
    font-size: 6.25rem;
    width: 530px;
    text-align: left;
  }
}

.hero__container--description {
  margin-top: 1rem;
  margin-bottom: 6rem;
  width: 345px;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  color: white;
  line-height: 28px;
  text-align: center;
}

@media (min-width: 768px) {
  .hero__container--description {
    width: 500px;
  }
}

@media (min-width: 1440px) {
  .hero__container--description {
    width: 440px;
    text-align: left;
    font-size: 18px;
    position: relative;
    left: 5rem;
  }
}

@media (min-width: 1440px) {
  .hero__container--svg {
    position: relative;
    top: 26rem;
    right: 18rem;
  }
}

.hero__container--divider {
  display: none;
}

@media (min-width: 1440px) {
  .hero__container--divider {
    display: block;
    width: 50px;
    height: 4px;
    position: relative;
    bottom: 5rem;
    left: 8rem;
    background-color: #79c8c7;
    border: none;
  }
}

.information__container {
  background-color: #002529;
}

@media (min-width: 1440px) {
  .information__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 684px;
    overflow: hidden;
  }
}

.build__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

@media (min-width: 1440px) {
  .build__container {
    overflow: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.build__container--divider {
  width: 50px;
  height: 4px;
  background-color: #f67e7e;
  border: unset;
  position: relative;
  left: 35px;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .build__container--divider {
    left: 54px;
    margin-top: 7rem;
  }
}

@media (min-width: 1440px) {
  .build__container--divider {
    margin-top: unset;
    position: relative;
    bottom: 3rem;
  }
}

.build__container--title {
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  width: 320px;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .build__container--title {
    width: 445px;
    margin-top: 9rem;
  }
}

@media (min-width: 1440px) {
  .build__container--title {
    font-size: 3rem;
    margin-top: unset;
  }
}

.build__container--svg {
  position: relative;
  left: 40px;
}

@media (min-width: 768px) {
  .build__container--svg {
    left: 140px;
  }
}

@media (min-width: 1440px) {
  .build__container--svg {
    left: 50rem;
    top: 14rem;
  }
}

.about__container {
  margin-top: 5rem;
  padding-bottom: 2rem;
}

@media (min-width: 1440px) {
  .about__container {
    margin-top: 10rem;
    position: relative;
    right: 5rem;
  }
}

.detail__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .detail__container {
    width: 650px;
    margin: 0 auto;
    margin-bottom: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.detail__container--title {
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #f67e7e;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.detail__container--description {
  width: 330px;
  text-align: center;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #cccccc;
}

@media (min-width: 768px) {
  .detail__container--description {
    text-align: unset;
    width: 478px;
  }
}

.detail__container--textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .detail__container--textBox {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.quotes__container {
  padding-bottom: 5rem;
}

@media (min-width: 1440px) {
  .quotes__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.success__container {
  background-color: #014e56;
  overflow: hidden;
}

.success__container--svg {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .success__container--svg {
    margin-bottom: unset;
  }
}

.success__container--svg2 {
  position: relative;
  left: 215px;
  top: 5px;
}

@media (min-width: 768px) {
  .success__container--svg2 {
    left: 600px;
  }
}

@media (min-width: 1440px) {
  .success__container--svg2 {
    left: 78rem;
  }
}

.success__container--title {
  margin: 0 auto;
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  text-align: center;
  width: 315px;
}

@media (min-width: 768px) {
  .success__container--title {
    width: 490px;
  }
}

@media (min-width: 1440px) {
  .success__container--title {
    font-size: 48px;
    width: 932px;
  }
}

.success__container--span {
  color: #79c8c7;
}

.quote__container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote__container--svg {
  margin-top: 1rem;
  width: 62px;
  height: 62px;
  border-radius: 50px;
  border-style: solid;
  border-color: #79c8c7;
}

@media (min-width: 768px) {
  .quote__container--svg {
    width: 70px;
    height: 70px;
  }
}

.quote__container--title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #79c8c7;
}

@media (min-width: 768px) {
  .quote__container--title {
    margin-top: unset;
  }
}

.quote__container--description {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: white;
  text-align: center;
  width: 325px;
  position: relative;
  bottom: 20px;
}

@media (min-width: 768px) {
  .quote__container--description {
    width: 570px;
  }
}

@media (min-width: 1440px) {
  .quote__container--description {
    width: 350px;
  }
}

.quote__container--position {
  font-family: "Livvic", sans-serif;
  font-style: italic;
  color: white;
  font-size: 13px;
}

.ready__container {
  height: 302px;
  background-color: #f67e7e;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.ready__container--title {
  margin-top: 2rem;
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  color: #004047;
  text-align: center;
  margin-top: 3rem;
  width: 330px;
  font-size: 32px;
}

@media (min-width: 768px) {
  .ready__container--title {
    width: 336px;
  }
}

.ready__container--btn {
  margin-top: 1rem;
  background-color: transparent;
  width: 153px;
  height: 48px;
  border-radius: 50px;
  border-color: black;
}

.ready__container--a {
  text-decoration: none;
  color: #004047;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.ready__container--svg {
  position: relative;
  right: 115px;
  top: 0px;
}

@media (min-width: 768px) {
  .ready__container--svg {
    right: 300px;
  }
}

.ready__container--textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .ready__container--textBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 600px;
    margin-top: 5rem;
  }
}

.footer__container {
  background-color: #002529;
  height: 432px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .footer__container--logo {
    position: relative;
    right: 15rem;
    top: 2.5rem;
  }
}

.footer__container--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 107px;
}

@media (min-width: 768px) {
  .footer__container--ul {
    position: relative;
    top: 10rem;
    right: 15rem;
  }
}

.footer__container--li {
  list-style: none;
}

.footer__container--a {
  text-decoration: none;
  color: white;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.footer__container--addressBox {
  width: 327px;
}

.footer__container--p {
  text-align: center;
  color: #999999;
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  line-height: 25px;
}

@media (min-width: 768px) {
  .footer__container--p {
    text-align: right;
    position: relative;
    left: 12rem;
    bottom: 4rem;
    line-height: 3.5rem;
  }
}

.footer__container--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer__container--icons {
    position: relative;
    right: 15rem;
  }
}

@media (min-width: 768px) {
  #copyright {
    position: relative;
    left: 14rem;
  }
}

@media (max-width: 768px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile--divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 80px;
    width: 249px;
    height: 1px;
    margin: 0 auto;
  }
  .navbar--btn-mobilemenu {
    display: block;
    font-weight: bold;
    color: white;
    width: 173px;
    padding: 1.3rem;
    border-radius: 30px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
  }
  .navbar-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin: 2rem auto;
    text-align: center;
    display: none;
  }
  .navbar-links.active {
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 0px;
    right: 0vw;
    padding-bottom: 2rem;
    font-size: 2rem;
    height: 650px;
    width: 300px;
    background-color: #1b262f;
  }
  .navbar-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 7rem;
    margin-bottom: 2rem;
  }
  .navbar-item {
    color: #b3b3b3;
    font-size: 20px;
  }
  .navbar--btn {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */